# stackbit.yaml
ssgName: hugo # The SSG you are using
cmsName: netlifycms # The CMS you are using, if any

# Define the model types in your content
models:
  page:
    type: data
    label: Page
    files:
      - match: "content/**/*.md"

# Define the URL paths for your content
page:
  type: object
  label: Page
  files:
    - file: "content/_index.md"
      label: Home Page
    - folder: "content/pages"
      label: Pages
      type: page
